:root {
	--header-height: 4.5rem;
	--footer-height: 3rem;
}

* {
	line-height: 1.5rem;
}

body {
	min-height: 100vh;
	margin: 0rem;
	background-image: linear-gradient(90deg, rgb(255, 200, 200), rgb(200, 255, 200),rgb(200, 200, 255));	
}

header {
	background-image: linear-gradient(90deg, rgb(255, 230, 230), rgb(230, 255, 255),rgb(230, 230, 255));	
	position: sticky;
	top: 0rem;
	color: blue;
	height: var(--header-height);
	box-shadow: 0.3rem 0.3rem 0.3rem grey;
	display: grid;
	place-content: center;
	width: 100%;
}

div#root {
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	padding-bottom: var(--footer-height);
	padding: 0rem 1rem;
}

/* HOMEPAGE */

#project-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	button {
		background-color: rgb(20, 50, 220);
		border-radius: 0.5rem;
		box-shadow: 0.1rem 0.1rem grey;
		border: none;
		height: 2.2rem;
		width: 40%;
		color: white;
		font-weight: bold;
	}
}

#projects {
	display: grid;
	gap: 2rem;
	place-content: center;
}


.project-card {
	background-color: rgb(255, 255, 255);
	border-radius: 1rem;
	max-height: 7rem;
	border-left: 0.8rem solid rgb(20, 20, 225);
	width: 80vw;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	& h3 {
		color: blue;
	}
	& * {
		margin: 0.4rem;
	}
	& p {
		height: 0.5rem;
	}		
}


.project-div-tools {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	& > * {
		align-self: flex-end;
		margin-bottom: 0.75rem;
		white-space: no-wrap;
		overflow-x: scroll;
		color: red;
		padding: 0.8rem;
	}
	.open {
		margin-left: auto;
		color: blue;
		margin-bottom: 0.3rem;
		padding: 0rem;
		align-self: flex-start;
	}
}


/* Global(.empty)*/
.empty {
	padding-top: 5rem;
	text-align: center;
}


/* TO-DO PAGE */
#todo-page-header {
	display: flex;
	flex-direction: column;
	color: red;
	& button {
		max-width: 40vw;
	}
}

#todo-page-heading {
	display: flex;
	justify-content: space-between;
}

#todo-count-span {
    font-weight: medium;
    font-size: 1rem;
    margin-left: auto;
}

#todo-count {
	color: blue;
}

.todo-card {
	color: black;
	background-color: white;
	border-radius: 1rem;
	padding: 0rem 1rem;
	margin-top: 0.5rem;
	
}

.todo-tools {
	display: flex;
	color: green;
	gap: 1rem;
	
}

footer {
	position: sticky;
	bottom: 0rem;
	left: 0px;
	height: var(--footer-height);
	text-align: center;
	font-weight: bold;
	box-shadow: 0rem -0.3rem 0.3rem lightgrey;
	background-image: linear-gradient(90deg, rgb(255, 230, 230), rgb(230, 255, 255),rgb(230, 230, 255));	
}


